<?xml version="1.0"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> 
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
	<key>CFBundleExecutable</key>
	<string>Run-Java-10.1</string>
	<key>CFBundleIconFile</key>
	<string>GenericJavaApp.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.macfaq.xquery.XQuisitor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>XQuisitor</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
<key>Java</key>
    <dict>
        <key>JVMVersion</key>
        <string>1.4*</string>
        <key>ClassPath</key>
           <array>
             <string>$JAVAROOT/xquisitor-1.0a3.jar</string>
             <string>$JAVAROOT/saxon7.jar</string>
           </array>
        <key>MainClass</key>
        <string>com.macfaq.xquery.XQuisitor</string>
        <key>Properties</key>
            <dict>
                <key>com.apple.mrj.application.apple.menu.about.name</key>
                <string>XQuisitor</string>
                <key>apple.laf.useScreenMenuBar</key>
                <string>true</string>
                <key>apple.awt.showGrowBox</key>
                <string>true</string>
            </dict>
    </dict>
</dict>
</plist>